body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    width: 100%;
    height: 110vh;
    grid-template-areas: 
        "item1 item1 item1 item1 item1 item2 item2 item2 item2 item2"
        "item3 item3 item3 item4 item4 item4 item4 item5 item5 item5"
        "item6 item6 item6 item7 item7 item7 item7 item5 item5 item5"
        "item8 item8 item8 item9 item9 item9 item10 item10 item10 item10";
}

.item1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    background-color: #ffffff;
    margin-top: 5vh;

}

.text-content {
    text-align: center;
}

.item1 h1 {
    color: #a0a3a8;
}

.item1 p {
    color: #333333;
}

.item1 h3 {
    color: #b2b5b9;
    text-align: center;
}

.text-content2 {
    display: grid;
    justify-items: center;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.item2 {
    grid-area: item2;
    font-size: 3vh;
    background-color: #f7f8f9;
}

.item2 h2 {
    color: #333333;
    text-align: center;
}

.item2 h4 {
    font-size: small;
    margin-top: 10vh;
    color: #b2b5b9;
}

.item2 a {
    color: #58bdc5;
    font-size: small;
}

.item3 {
    grid-area: item3;
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: #f05638;
    width:90%;
}
.text-content3{
color: #333333;
    text-align: center;
}
.text-content3 a{
    color: #f9c833;
    text-decoration: none;

}

.item4 {
    grid-area: item4;
    display: grid;
    grid-template-rows: 1fr 2fr;
    
}

.image-content4 {
text-align: left;

}

.text-content4 {
   text-align: right;
    color: #333333;
    
    
    
}
.text-content4 a{
    color: #58bdc5
}

.text-content5 {
    display: grid;
    justify-items: center;
}

.item5 {
    grid-area: item5;
    background-color: #8f76bc;
}

.item5 img {
    width: 100%;
}

.item5 h1 {
    color: #ffffff;
}

.item5 p {
    color: #ffffff;
}

.item5 button {
    font-size: 2vh;
    background-color: #f9c833;
    border-radius: 5vh;
    border: 2px solid #f9c833;
    width: 15vh;
    height: 6vh;
    margin-bottom: 8vh;
}

.item6 {
    grid-area: item6;
    display: grid;
    align-content: center;
    justify-items: center;
    background-color:#f7f8f9;
    width: 100%;
    
}
.text-content6{
    color: #333333;
        text-align: center;

}
.text-content6 a{
    color:  #64c5cd;
    text-decoration: none;

}

.item7 {
    grid-area: item7;
    background-color: #93b6b8;
    width: 100%;
    display: grid;
    justify-items: center;
    
    
}
.text-content7{
    color: #ffffff;
    text-align: center;

}
.text-content7 button{
    background-color: #f05638;
    border-radius: 5vh;
    border: none;
    width: 12vh;
    color:#f7f8f9;
    font-size: 1.5vh;
    margin-right: 60vh;
    
}


.item8 {
    grid-area: item8;
    background-color: #38d5f4;
    display: grid;
    justify-items: center;
    align-content: center;
    
    
}
.text-content8{
    color: #f7f8f9;
    font-size: 3vh;
    text-align: center;
    
}

.item9 {
    grid-area: item9;
    background-color:#f7f8f9;
    display: grid;
    align-content: center;
    justify-items: center;
    padding-left: 5vh;
    padding-right: 5vh;
 
    

}
.item9 button{
    text-align: center;
    background-color: #7bc424;
    border-radius: 5vh;
    border: none;
    font-size: 2vh;
    color:#f7f8f9;
    ;
}
.text-content9{
    text-align: center;
    font-size: 4vh;
}

.item10 {
    grid-area: item10;
    background-color: #2c2c2c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.image-content10{
    text-align: left;
}
.text-content10{
    display: grid;
    align-items: center;
    color:#f7f8f9;
    font-size: 3vh
    ;
    padding-right: 5vh;
}